body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.evaluator {
  width: 200px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px;
}
